* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

header {
  background-color: #000000;
  /* background-image: url(/assets/fondos/fondo1.jpg); */
  background-size: contain;
  width: 100%;
  height: 180px;
}

.container-logo {
  width: 250px;
  height: 60px;
  margin: 0px 100px;
}

#logo {
  width: 250px;
  padding-top: 20px;
}

header .container-menu {
  width: 100%;
}

.menu {
  float: right;
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu a:hover {
  color: rgb(27, 75, 233);
  text-decoration: none;
  font-weight: bold;
}

.menu li {
  width: 100px;
  margin: 15px;
  text-align: center;
}

.inicio {
  background-color: #222430;
  width: 100%;
  padding: 0px;
}

#carouselExampleIndicators img {
  height: 600px;
  padding: 20px 200px;
}

#conocenos {
  background-color: #125a70;
  padding: 20px;
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
}

#conocenos h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.carta {
  width: 350px;
  height: 380px;
  margin: 0 80px;
  text-align: center;
}

#logo-carta {
  width: 180px;
}

.carta p {
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.icono-mivi {
  height: 100px;
}


#servicios {
  background-color: #def2f1;
  width: 100%;
  height: 800px;
  padding: 50px;
}

#servicios h2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #000000;
  font-weight: bolder;
}

.cards-servicios {
  display: flex;
}

.card-servicios {
  color: black;
  width: 700px;
  height: 650px;
  margin: 0px 30px;
  /* 
  background-color: yellow; */
  align-items: center;
  align-content: center;
  align-self: center;
}

.card-servicios h3 {
  /* 
  background-color: pink; */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}

.card-servicios p {
  text-align: center;
  font-weight: 400;
}

.img-card-servicios {
  width: 200px;
}

#clientes {
  width: 100%;
  background-color: #feffff;
  height: 300px;
  color: white;
}

#clientes h2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

.container-clientes {
  width: 100%;
  height: 150px;
  display: flex;
  padding: 10px 0px;
  margin: 30px 0px;
}

.container-clientes .card {
  width: 200px;
  height: 150px;
  background-color: #ffffff00;
  border: none;
  margin: 0px 30px;
  align-items: center;
  align-content: center;
}

.logo-cliente {
  width: 150px;
}




#permisos {
  background-color: #182933;
  width: 100%;
  height: 400px;
  text-align: center;
  color: white;
}

#permisos h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 0px;
}

#permisos .cards-permisos {
  width: 100%;
  /* 
  background-color: red; */
  display: flex;
}

.card-permiso {
  /* 
  background-color: aqua; */
  width: 300px;
  height: 250px;
  margin: 0px 50px;
}

.img-permisos {
  width: 300px;
}



#vacantes {
  width: 100%;
  height: 800px;
  background-color: #3C6881;
  margin: 10px 0px;
}

#vacantes h2 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0px;
}





.opiniones {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.card-opinion {
  width: 250px;
  height: 400px;
  background-color: #bdbdbd;
  border-radius: 10px;
  margin: 0px 30px;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  color: #1b1b1b;
}

.img-opinion {
  width: 100px;
  border-radius: 50px;
}

.card-opinion .icon-star {
  width: 20px;
}

.card-opinion p {
  padding: 5px;
  font-size: 14px;
  text-align: justify;
}


.pie {
  width: 100%;
  height: 550px;
  display: flex;
}

.pie .card-footer {
  background-color: rgb(238, 238, 238);
  width: 600px;
  height: auto;
  margin: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.pie .card-footer a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

#logo-foot {
  align-items: center;
  align-content: center;
}

#logo-foot .img-logo-foot {
  width: 350px;
  align-items: center;
  align-content: center;
}

.direccion {
  margin: 50px 0px;
}

.direccion .mapa {
  padding: 0px 8px;
}

.card-footer h3 {
  font-size: 15px;
  text-align: center;
}

.card-footer h4 {
  font-size: 15px;
  text-align: center;
}

span {
  font-weight: bold;
}


#icon-ubicacion {
  width: 30px;
}

#icon-mail {
  width: 50px;
}

#icon-telefono {
  width: 50px;
}

#icon-celular {
  width: 50px;
}

.redes-sociales {
  display: flex;
}

.icon-socialmed {
  width: 45px;
  margin: 30px 10px;
}

footer {
  background-color: #000000;
  color: white;
  font-size: 13px;
}